<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Receive Data </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <h3>Plain Data</h3>

  <div>
    <strong>App will decrypt data to this</strong>
    <p>Name: Mr. Xyz</p>
    <p>Gender: Male</p>
    <p>Hobby: ['Cricket', 'Football', 'Volleyball']</p>
  </div>

  <br />
  <br />
  <br />
  <br />

  <br />

  <ion-button color="success" (click)="ReceiveData()">Receive Data</ion-button>
</ion-content>
